/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000F08;
  color: #E1E6E1;
}

/* Header styling */
header {
  background-color: #136f63;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

/* Buttons in the header */
.buttons {
  margin-top: 10px;
}

.buttons button {
  padding: 10px 20px;
  background-color: #E49273;
  color: #E1E6E1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons button:hover {
  background-color: #CBEFB6;
  color: #000F08;
}

/* Container styling */
#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E1E6E1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* Search container styling */
#searchContainer {
  display: flex;
  align-items: center;
  border-width: 2px;
  border-color: #471131;
  justify-content: space-between;
  margin-bottom: 1px;
  margin-left: 155px;
  -color: #181147
  
}

#searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #136f63;
  color: #E1E6E1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#searchInput::placeholder {
  color: #CBEFB6;
}

#searchInput:focus {
  background-color: #E49273;
  color: #000F08;
}

#searchButton {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-color: #E49273;
  color: #E1E6E1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#searchButton:hover {
  background-color: #CBEFB6;
  color: #000F08;
}

/* Results styling */
#results {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
  text-align: left;
  margin-top: 20px;
  
}

/* Repository item styling */
.repository {
  border-width: 2px;
  margin-top: 5px;
  border-color: #471131;
  padding: 10px;
  border-radius: 5px;
  background-color: #136f63;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.repository:hover {
  background-color: #837dad;
  color: #000F08;
  
  
}

/* Link styling */
.repository a {
  color: #E1E6E1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.repository a:hover {
  color: #CBEFB6;
}

/* Arrow icon styling */
.arrow-icon::after {
  content: "\25B8";
  font-size: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.repository.expanded .arrow-icon::after {
  transform: rotate(0deg);
}

/* Readme content styling */
.readme-content {
  display: none;
  padding: 10px;
  margin-top: 10px;
  background-color: #E1E6E1;
  color: #000F08;
  font-size: 14px;
  line-height: 1.5;
  max-height: 400px;
  overflow-y: scroll;
}

.readme-content.expanded {
  display: block;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #CBEFB6;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #E1E6E1;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  color: #E49273;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000F08;
  text-decoration: none;
  cursor: pointer;
}

/* Profile Page styling */
#profilePage {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.profile-content {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #136F63;
  transform: translate(-50%, -50%);
  background-color: #E1E6E1;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  max-width: 600px;
  max-height: 400px;
  overflow: auto;
  z-index: 99999;
}

.profile-content h2 {
  margin-top: 0;
}

.profile-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Apply some basic styles to the form */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E1E6E1;
    color: #000F08;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Added border-color transition */
}

h1 {
    text-align: center;
    font-size: 24px;
}

/* Style labels and inputs */
label {
    display: block;
    margin-bottom: 8px;
    color: #136f63;
}

input[type="text"], select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #136f63;
    color: #E1E6E1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #E49273;
    color: #E1E6E1;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #CBEFB6;
    color: #000F08;
}

/* Style the PermaKey dropdown */
#permkey-dropdown {
    margin-top: 15px;
}

/* Add some spacing to the form */
br {
    clear: both;
}

/* Hover effect on the form */
form:hover {
    border-width: 2px;
    border-color: #471131; /* Change border color on hover */
}


