

<div class="dashboard">

    <link rel="stylesheet" href="stl.css">
	<div class="profile">
		<h2>GHPM Review</h2>
		<p>Check out your usage!</p>
		<p>[2023-11-24 11:29:41.087314]</p>

	</div>

	<div class="schedule-table">
		<h2>Weekly Use</h2>
		<div class="table-wrap">
			<table>
				<tr>
					<th>Day</th>
					<th>Activation Time</th>
					<th>Action Count</th>
				</tr>
				<tr>
					<td>x01</td>
					<td>x02</td>
					<td>x03</td>
				</tr>
				<tr>
					<td>x04</td>
					<td>x05</td>
					<td>x06</td>
				</tr>
				<tr>
					<td>x07</td>
					<td>x08</td>
					<td>x09</td>
				</tr>
				<tr>
					<td>x10</td>
					<td>x11</td>
					<td>x12</td>
				</tr>
				<tr>
					<td>x13</td>
					<td>x14</td>
					<td>x15</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="exercise-table">
		<h2>Last 5 Downloads</h2>
		<div class="table-wrap">
			<table>
				<tr>
					<th>Date</th>
					<th>Download</th>
				</tr>
				<tr>
					<td>2023-11-22</td>
					<td>https://github.com/smoke-wolf/ToolKit.git#2023-11-22</td>
				</tr>
				<tr>
					<td>2023-11-24</td>
					<td>https://github.com/smoke-wolf/TouchScript.git#2023-11-24</td>
				</tr>
				<tr>
					<td>z04</td>
					<td>z05</td>
				</tr>
				<tr>
					<td>z06</td>
					<td>z07</td>
				</tr>
				<tr>
					<td>z08</td>
					<td>z09</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="calories">
		<h2>Total Downloads</h2>
		<div><strong>Today:</strong> c00</div>
		<div><strong>This Week:</strong> c01</div>
		<div><strong>This Month:</strong> c02</div>
	</div>

	<div class="calories">
		<h2>Total Actions</h2>
		<div><strong>Today:</strong> v00</div>
		<div><strong>This Week:</strong> v01</div>
		<div><strong>This Month:</strong> v02</div>
		<div><strong>Lifetime:</strong> v03</div>
	</div>

	<div class="personal-bests">
		<h2>Most Used Download</h2>
		<ul>
			<li>13 || https://github.com/smoke-wolf/ToolKit.git#2023-11-22</li>
			<li>6 || https://github.com/smoke-wolf/weather</li>
			<li>5 || https://github.com/smoke-wolf/GitHub-Package-Manager.git</li>
		</ul>
	</div>

	<div class="challenges">
		<h2>Current Profile</h2>
		<ul>
			<li>Source: /Users/maliq/PycharmProjects/0/GitHub-Package-Manager/</li>
			<li>User: James</li>
			<li>Privilege: root</li>
			<li>Login: False</li>
			<li>Push Logs: True</li>
			<li>UID4: d41308d76ad44f12b87cfebbfb09bce5</li>
			<li>Display: True</li>
		</ul>
	</div>

</div>

